body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.details {
  display: block;
  position: absolute;
  right: 0;
  top: 10vh;
  background: rgba(173, 216, 230, 0.5);
  padding: 1em;
  border-radius: 1em 0 0 1em;
}

.upload {
  display: block;
  position: absolute;
  left: 0;
  top: 20vh;
  background: rgba(173, 216, 230, 0.5);
  padding: 1em;
  border-radius: 0 1em 1em 0;
}

.hidden {
  display: none;
}

.red {
  color: red;
}

.green {
  color: green;
}
